/* // <uniquifier>: Use a unique and descriptive class name */

.work-sans{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 443;
  font-style: normal;
}
/* *{
    margin: 0;
} */
/* shared style */
.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    margin-top:24px
}
.bin-primary:hover{
    background-color: darkslategrey;
    size: 25px;
}
/* nav style */
.nav-parent{
display: flex;
justify-content: space-between;
align-items: center;
border: none;
}
.nav-title{
font-weight: bold;
font-size: 32px;
}
.nav-btn{
font-weight: 600;
font-size: 18px;
color: #006A50;
border: 2px solid #006A50;
border-radius: 8px;
padding: 15px 30px;
}
/* banner style */
.banner-parent{
    padding: 59px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    gap: 64px;

}
.banner-section{
    max-width: 600px;
}
.banner-greeding{
    font-weight: 500;
    font-size: 24px;
    color: #0E0E0E;
    margin-bottom: 16px;
}
.banner-title{
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.banner-btn{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    padding: 17px 34px;
}
.banner-img{
    width: 473px;
    height: 400px;
}
/* header stop */
/* main style start */
.main-section2-parent1{
    text-align: left;
}
.main-section2-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    margin-top: 80px;
}
.main-section2-description{
    font-weight: 400px;
    font-size: 16px;
    color: #0E0E0E;
    margin-top: 24px;
}
.main-section2-parent2{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    gap: 24px;
    justify-content:space-between
}
.info{
    padding: 32px;
    border-radius: 16px;
}
.info1{
    background-color: #F7EBCF;
}
.info2{
    background-color: #C6E4D6;
}
.info3{
    background-color: #F7EBCF;
}
.info-title{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
    margin-top: 24px
}
.info-description{
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
    margin-top: 12px
}
.info-btn1{
    
    background-color: #5490F5;
}
.info-btn2{
    background-color:#09A15C;
}
.info-btn3{
    background-color: #FFC239;
}

/* main section part 2 */
.main-section5-parent2{
    display: flex;
}
.news-button{
    color: #006A50;
}
